html {
  font-family: Helvetica;
}
/*
I WASN'T SURE IF I SHOULD ALSO STYLE THE REST OF TEXT AS HELVETICA (AS IT APPEARS) BUT I DID.. 
LET ME KNOW HOW DID IT COME OUT.. 
OH YEAH AND I HAD DEISCOVER HOW TO COMMENT OUT THIS SECTION MYSELF USING THE WORLD WIDE WEB :D
*/
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes h2 {
  background-color: MediumSpringGreen;
}
.frames h2 {
  background-color: LightCoral;
}
.paint h2 {
  background-color: SkyBlue;
}
.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
